{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="video-card p-5 mb-5">
          <h2 class="text-center mb-4">
            YouTube Video Summarizer
          </h2>
          {% crispy form %}
        </div>
      </div>
    </div>
    {% if video_summary %}
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 video-card">
        <h2 class="text-center mb-4">Video Summary</h2>
        <p>{{ video_summary }}</p>
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}

  
  
  <!-- Bootstrap JS and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>