{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-7 d-flex flex-column justify-content-center text-md-start text-center">
      <h1 class="mb-3 display-3">Youtube Summarizer</h1>
      <p class="fw-light fs-4">Summarize Youtube videos for free in one click</p>
    </div>
    <div class="col-md-5 d-none d-md-block">
      <img src="{% static 'summarizer_app/images/yt_summarizer_logo.png' %}" alt="app-logo">
    </div>
  </div>
  <div class="row my-5 justify-content-center">
    <div class="col-md-6">
      {% crispy form %}
    </div>
  </div>
  <div class="row mb-md-5 mb-3 text-md-start text-center justify-content-between mx-2 mx-md-0">
    <div class="col-md-3 bg-primary-subtle rounded pt-2 shadow">
      <h4>Step 1: Enter the URL</h4>
      <p class="fw-light">Copy the URL of the YouTube video you want to summarize and paste it into the input field above.</p>
    </div>
    <div class="col-md-3 bg-primary-subtle rounded pt-2 my-3 my-md-0 shadow">
      <h4>Step 2: Click Submit</h4>
      <p class="fw-light">Click the "Summarize Video" button to let our AI analyze the video and create a concise summary.</p>
    </div>
    <div class="col-md-4 bg-primary-subtle rounded pt-2 shadow">
      <h4>Step 3: Read the Summary</h4>
      <p class="fw-light">Within seconds, your summary will be displayed. Enjoy your quick insights!</p>
    </div>
  </div>
{% endblock %}
