{% extends "base.html" %}
{% load static %}
{#{% load markdownify %}#}

{% block content %}
  <div class="row mt-2">
    <div class="col-md-5">
      <img class="mw-100 shadow rounded-3" src="{{ yt_summary.thumbnail.url }}" alt="{{ yt_summary.title }} thumbnail">
    </div>
    <div class="col-md-7 d-flex flex-column justify-content-center text-center text-md-start">
      <h2 class="display-5">{{ yt_summary.title }}</h2>
      <span class="badge rounded-pill my-2 text-bg-info align-self-center align-self-md-start">{{ yt_summary.created_on }}</span>
      <a class="link-danger link-underline-opacity-0" href="{{ yt_summary.url }}" target="_blank" rel="noopener noreferrer"><p class="fs-5">{{ yt_summary.url }}</p></a>
    </div>
  </div>
  <div class="row my-2">
    {# order class (from flex utility) enables reordering these columns responsively #}
    <div class="col-md order-2 order-md-1">
      <h2 class="my-2 text-center">Video Transcript</h2>
      <p>{{ yt_summary.video_text }}</p>
    </div>
    <div class="col-md order-1 order-md-2">
      <h2 class="my-2 text-center">Video Summary</h2>
      <h4>Overview</h4>
      <p>{{ video_summary.overview }}</p>
      <h4>Key Takeaways</h4>
      <ul>
        {% for takeaway in video_summary.key_takeaways %}
          <li>{{ takeaway }}</li>
        {% endfor %}
      </ul>
      <h4>Conclusion</h4>
      <p>{{ video_summary.conclusion }}</p>
    </div>
  </div>
{% endblock %}
