{% extends "base.html" %}

{% block content %}
  <div class="row mb-3">
    <div class="col text-center">
      <h1 class="display-3">Video Summaries</h1>
    </div>
  </div>
	{% for yt_summary in yt_summaries %}
    <div class="row my-2 border-bottom pb-2">
      <div class="col-md-4">
        <img class="mw-100 shadow rounded-3" src="{{ yt_summary.thumbnail.url }}" alt="{{ yt_summary.title }}">
      </div>
      <div class="col-md-8">
        <a class="link-dark link-underline-opacity-0 link-underline-opacity-75-hover" href={{ yt_summary.get_absolute_url }}><h2>{{ yt_summary.title }}</h2></a>
        <span class="badge rounded-pill text-bg-info">{{ yt_summary.created_on }}</span>
        <a class="link-danger link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ yt_summary.url }}" target="_blank" rel="noopener noreferrer"><p class="fs-5">{{ yt_summary.url }}</p></a>
        <p>{{ yt_summary.video_summary | truncatewords:30 }}</p> {# truncate text after 30 words #}
      </div>
    </div>
	{% endfor %}
{% endblock %}